<script>
    (function (document, Clipboard) {

        var $codes = document.querySelectorAll('pre');

        function addCopy(element) {
            var copy = document.createElement("button");
            copy.className = "copy btn is-pulled-right";
            copy.textContent = "copy";
            element.append(copy);
        }

        for (var i = 0, len = $codes.length; i < len; i++) {
            addCopy($codes[i]);
        }


        new Clipboard('.copy', {
            target: function (trigger) {
                return trigger.previousElementSibling;
            }
        });
    })(document, ClipboardJS);
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/a11y-dark.min.css"/>

