.header-section {
  margin-bottom: 3rem;

}
.intro-header {
  background-attachment: scroll;
  background-color: grey;
  background-position: center center;
  background-size: cover;

  .site-heading, .post-heading, .page-heading {
    padding: 150px 0;
    color: #fff;
    text-align: center;

    h1 {
      font-weight: 800;
    }
    hr {
      max-width: 120px;
      margin: 1em auto;
      border-color: #fff;
      border-width: 4px;
    }
  }
}
