.posts-list {
  .post-preview {
    margin-bottom: 3rem;
  }
}

a {
    &.category {
        background-color: var(--primary);
        color: var(--dark);
        padding: .2em .5em;
        @include sans-serif();
        margin-bottom: .5em;
        text-transform: uppercase;
        font-size: 80%;
    }
}

.post-header {
    a {
        color: $black;
    }
    .post-title {
        margin-top: .5em;
    }
}

article.blog-post {
    & > * {
        margin-bottom: 1.5rem;
    }
}

.post-tags {
    margin: 2rem 0;
    text-align: center;

    .badge {
        margin-right: .5rem;
        padding: .7rem;
        font-weight: 600;
    }
}

nav.pagination {
    li:first-child {
        margin-right: auto;
    }
}
