extends partial/base

block header

block content
    .container
        .row.justify-content-center
            .col-lg-10.col-12
                article(role="main", class="blog-post")
                    != page.content
