$rgba-primary: rgba( 99,200, 94,1);	// Main Primary color */
$rgba-primary-1: rgba(188,238,185,1);
$rgba-primary-2: rgba(141,221,137,1);
$rgba-primary-3: rgba( 64,172, 59,1);
$rgba-primary-4: rgba( 37,144, 31,1);

$rgba-secondary: rgba( 71,150,147,1);	// Main Secondary color (1); */
$rgba-secondary-1: rgba(171,220,218,1);
$rgba-secondary-2: rgba(114,185,182,1);
$rgba-secondary-3: rgba( 44,129,126,1);
$rgba-secondary-4: rgba( 23,108,105,1);

$rgba-tertiary: rgba(192,231,109,1);	// Main Secondary color (2); */
$rgba-tertiary-1: rgba(231,249,194,1);
$rgba-tertiary-2: rgba(214,244,151,1);
$rgba-tertiary-3: rgba(156,199, 68,1);
$rgba-tertiary-4: rgba(125,167, 36,1);

$font-mono: Monaco, Menlo, Consolas, "Courier New", monospace;
$font-serif: 'IBM Plex Serif', 'Georgia', 'Times New Roman', serif;
$font-sans-serif: 'Encode Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
