nav.navbar.navbar-light.navbar-expand-md
    a(class="navbar-brand", href=url_for(config.root))
        span= theme.menu_title || config.title || ""
    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="true", aria-label="Toggle navigation")
        span.navbar-toggler-icon

    .collapse.navbar-collapse#navbarSupportedContent
        ul.navbar-nav.ml-auto
            each value, key in theme["menu"]
                li.nav-item
                    a.nav-link(href=url_for(value))!= key
