mixin post_meta(post)
    div.post-meta
        ul.list-inline
            li.list-inline-item
                time(datetime=date_xml(post.date), itemprop="datePublished")!= post.date.format(config.date_format)
            li.list-inline-item= readingTime(post.content, 'minutes read', 150)
