<%
    var categories = [];
    item.categories.forEach(function(category){
        categories.push('<a class="label label-default" href="' + config.root + category.path + '">' + category.name + '</a>');
    });
%>

<%- categories.join('/ ') %>
