<div class="">
    <a class="btn-sm btn-default" href="<%- theme.github_url %>/issues/new?title=&body=%0A%0A%5BEnter%20feedback%20here%5D%0A%0A%0A---%0A%23page:source/<%- item.source %>">Create issue</a>
    <a class="btn-sm btn-default" href="<%- theme.github_url %>/edit/source/source/<%- item.source %>">Improve this page</a>
</div>
