@import "../../../../node_modules/bootstrap/dist/css/bootstrap.css"
@import "base.styl"
@import "article.styl"
@import "conum.css"

.post-series
  border-left 8px solid rgba-tertiary
  background-color rgba-tertiary-1
  padding .8em
  margin-bottom 1em

ul li > p
  margin 10px 0
